@import url(/src/index.css);

:root {
  --accent-600: #ffa115;
}

.cta-card {
  background: linear-gradient(135deg, var(--primary-color), var(--secondary-color)) !important;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.shadow-custom {
  box-shadow:
    7px 81px 23px rgba(0, 0, 0, 0.00),
    4px 52px 21px rgba(0, 0, 0, 0.01),
    2px 29px 18px rgba(0, 0, 0, 0.05),
    1px 13px 13px rgba(0, 0, 0, 0.09),
    0px 3px 7px rgba(0, 0, 0, 0.10);
}

.section-title-cta {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.cta-btn {
    background-color: var(--accent-color) !important;
    font-weight: 600;
    font-size: 0.8125rem;
    padding: 10px 18px;
    border-radius: 12px !important;
    border: none;
    color: #fff;
}

.cta-btn:hover {
    background-color: var(--accent-600) !important;
}

.cta-btn-outline {
  font-weight: 600;
  font-size: 0.8125rem;
  padding: 10px 18px;
  border-radius: 12px !important;
}

.cta-btn-outline:hover {
  background-color: #fff !important;
  color: #000 !important;
}

.cta-btn,
.cta-btn:hover,
.cta-btn:focus,
.cta-btn:active {
    background-image: none !important;
}